@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: rgb(243, 243, 243);
  --secondary-color: rgb(248, 248, 248);
  --accent-color: rgb(224, 224, 224);

  --text-primary-color: black;
  --text-secondary-color: rgb(44, 44, 44);
}

:root.dark-theme {
  --primary-color: rgb(40, 44, 52);
  --secondary-color: rgb(40, 44, 52);
  --accent-color: rgb(40, 44, 52);

  --text-primary-color: white;
  --text-secondary-color: rgb(201, 201, 201);
}

html, body, #app {
  height: 100%;
}

canvas {
  image-rendering: pixelated;
}

.pixel-canvas {
  background-color: rgba(0,0,0,0);
  border: solid rgb(231, 231, 231) 1px;
}

.layout {
  background-color: var(--secondary-color);
}

.status-bar {
  background-color: var(--accent-color);
}

.transparent-swatch {
  background: repeating-conic-gradient(#eeeeee 0% 25%, transparent 0% 50%) 50% / 10px 10px
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
	background-clip: content-box;
}
