@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: rgb(243, 243, 243);
  --secondary-color: rgb(248, 248, 248);
  --accent-color: rgb(224, 224, 224);

  --text-primary-color: black;
  --text-secondary-color: rgb(44, 44, 44);
}

:root.dark-theme {
  --primary-color: rgb(40, 44, 52);
  --secondary-color: rgb(40, 44, 52);
  --accent-color: rgb(40, 44, 52);

  --text-primary-color: white;
  --text-secondary-color: rgb(201, 201, 201);
}

html,
body,
#app {
  font-family: "Jersey 10", sans-serif;
  height: 100%;
}

canvas,
img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.pxl-canvas {
  position: absolute;
  transform: translate(50%, 50%);
  background-image: url('./assets/2x2.png');
  background-repeat: repeat;
  background-size: 2px 2px;
  image-rendering: pixelated;
}

.layout {
  background-color: var(--secondary-color);
}

.title-bar {
  background-color: var(--accent-color);
  top: 0;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.title-bar button {
  -webkit-app-region: no-drag;
}

.status-bar {
  bottom: 0px;
  background-color: var(--accent-color);
}

.tools-menu {
  top: 40px;
  left: 0;
}

.preview {
  top: 40px;
  right: 0;
  width: 132px;
  height: 132px;
}

.preview-canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.canvas-settings {
  top: 180px;
  right: 0px;
  width: 132px;
}

.canvas-layers {
  top: 264px;
  right: 0px;
  width: 155px;
  height: 250px;
}

.canvas-layers-actions {
  top: 515px;
  right: 0px;
  width: 155px;
}

.animator {
  width: calc(100% - 320px);
  height: 173px;
}

.animator-frame {
  width: 115px;
  height: 115px;
  overflow: hidden;
}

.transparent-swatch {
  background: repeating-conic-gradient(#eeeeee 0% 25%, transparent 0% 50%) 50% / 10px 10px
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: content-box;
}